*.Rproj
.Rproj.user
.Rhistory
.RData
.vscode
*.o
*.so
*.dll
Bball1.txt
Bball2.csv
bball2_het_ar1.sas
hetar1_debug.R
glmmTMB/vignettes/*.pdf
glmmTMB/vignettes/*.aux
glmmTMB/vignettes/*.log
glmmTMB/vignettes/*.bbl
glmmTMB/vignettes/*.blg
glmmTMB/vignettes/*.tex
glmmTMB/vignettes/*.out
glmmTMB/vignettes/figure
glmmTMB/vignettes/cache
*~
*#*
glmmTMB*.tar.gz
glmmTMB.Rcheck
glmmTMB/vignettes/*_cache
glmmTMB/vignettes/*_files
glmmTMB/vignettes/*_figure
gh-pages
.#*
misc/*
TAGS
glmmTMB/build
glmmTMB/revdep
glmmTMB/config.log
glmmTMB/config.status
glmmTMB/src/Makevars
doc-update
*.Rcheck
*.tar.gz
glmmTMB.Rproj
*.Rout
glmmTMB/inst/*-version
glmmTMB/.gitsum
*/cache
*/figure
*.tgz
*.zip
*.dll
