.Rproj.user
.Rhistory
.RData
glmmTMB.o
glmmTMB.so
glmmTMB/vignettes/*.pdf
glmmTMB/vignettes/*.aux
glmmTMB/vignettes/*.log
glmmTMB/vignettes/*.bbl
glmmTMB/vignettes/*.blg
glmmTMB/vignettes/*.tex
glmmTMB/vignettes/*.out
glmmTMB/vignettes/figure
glmmTMB/vignettes/cache
*~
*#*
glmmTMB*.tar.gz
glmmTMB.Rcheck

glmmTMB/vignettes/*_cache
glmmTMB/vignettes/*_files
glmmTMB/vignettes/*_figure
gh-pages
.#*

misc/*
TAGS

glmmTMB/build
glmmTMB/revdep
glmmTMB/config.log
glmmTMB/config.status
glmmTMB/src/Makevars

doc-update

*.Rcheck
*.tar.gz
*.Rout
